@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:700");

:root{
    --oscuro: #000000;
    --blanco: #ffffff;
    --morado: #9932CC;
}
html{
    background-image: url(/fondo\ 3.png);
    font-family: "Roboto Mono", monospace;
    color: bisque;
    box-sizing: border-box;

}
*, *:before, *:after {
    box-sizing: inherit;
}


header{
    text-align: right;
    padding: 1rem 1rem;
}

h1{
    text-align: center;
}

.h1{
    color: bisque;
}



/*-------------------------inputs-----------------*/
.sing-in{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }

  .sing-in input, .chema {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: .5rem;
    background-color: rgb(255, 228, 196, .9);
  }

  .logcuentas, .playyet{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  select{
    font-size: 1rem;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: .5rem;
    background-color: #ffe4c4e6;
  }
  

  /*-----------------------Todos los Botones------------*/
.boton, .footer{
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--blanco); /* EL PADDING ES PARA PONER COMO UN MARGEN O SEPARACION EN TODAS LAS DIRECCIOES*/ 
    font-size: 1.3rem;
    border-radius: 5px;
    padding: 5px;
}

.boton-o{
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--blanco); /* EL PADDING ES PARA PONER COMO UN MARGEN O SEPARACION EN TODAS LAS DIRECCIOES*/ 
    font-size: 1.3rem;
    border-radius: 5px;
    padding: 20px;
}
.boton:hover{
    background-color: rgba(255, 228, 196, 0.430);
}

.primerosbotones, .Botonesparaguardar, .botonactualizar  {
    display: grid;
    grid-template-columns: 50% 48%;
    column-gap: .5rem; 
    justify-content: center;
}

.botonesborrar{
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-top: .5rem;
    row-gap: .5rem; 
}

.botonesGandF{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem; 
    column-gap: 1rem;

}
    
.hide{
    display: none;
}

.tabla1{
    text-align: center;
    margin-top: 2rem;
}


#map { 
        position: absolute; 
        top: 0; 
        bottom: 0;
        right: 0;
        width: 100%; 
}


.footer{
    position: absolute;
    bottom: .5rem;
    margin-left: 1rem;
}

